<!DOCTYPE html>
<html ng-app="app">

<head>
  <title><%= title %></title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <h1><%= title %></h1>

  <ng-view></ng-view>

  <!-- Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

  <!-- Template -->

  <script type="text/ng-template" id="/users.html">
    <h2>1. Manage Users</h2>
    <br>
      Username to create: <input ng-model="username" /><br/><br/>
      <input type="button" value="Create User" ng-click="createUser(username)" /> <br/><br/>
      <input type="button" value="Get All Users" ng-click="getAllUsers()" /> <br/><br/>
      <ul>
        <li ng-repeat="user in users">
            <a ng-show="!editing[$index]">{{user._id}}: {{user.username}}</a>
        </li>
      </ul>

      <h2>2. Manage User Todo list by User Id</h2>
      <br>
      <h3>2.1 Retrieve User Todo list by User Id</h3>
      Enter user id to see Todo lists: <input ng-model="userId" /><br/><br/>
      <input type="button" value="Get User Lists" ng-click="getUserTodoList(userId)" /> <br/><br/>
      <ul>
          <li ng-repeat="todo in todos">
              <a ng-show="!editing[$index]">{{todo._id}}: {{todo.title}} (not done {{todo.numberNotdone}} from  {{todo.numberItems}})</a>
          </li>
      </ul>

      <!-- create user list-->
      <h3>2.2 Create new User Todo list by User Id</h3>
      Enter user id to create Todo list: <input ng-model="userId" /><br/><br/>
      Todo list Title to create: <input ng-model="title" /><br/><br/>
      <input type="button" value="Create New User List" ng-click="createUserTodoList(userId, title)" /> <br/><br/>
      

     <!-- TODO LIST ITEMS-->   
     <h2>3. Manage Todo Items for particular list</h2>
     <br>
     <h3>3.1 Retrieve Todo items by list Id</h3>
      Enter list id to see Todo items: <input ng-model="listId" /><br/><br/>
      <input type="button" value="Get Todo Items for List" ng-click="getTodoListItems(listId)" /> <br/><br/>
      <ul>
          <li ng-repeat="item in items">
            <a ng-show="!editing[$index]">{{item.id}}: {{item.description}} </a>
            <input type="checkbox" ng-model="item.done" ng-change="update($index)">
            <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>
          </li>
      </ul>
      <h3>3.1 Create Todo item for list Id</h3>
      Create New task:
      Enter list id to create Todo item: <input ng-model="listId" /><br/>
      Enter description <input type="text" ng-model="newItemDescription"><button ng-click="createTodoItem(listId, newItemDescription)">Create Task</button>
    </script>

  <script>
    angular.module('app', ['ngRoute', 'ngResource'])

      //---------------
      // Controllers
      //---------------
      .controller('UsersController', ['$scope', '$http', function UsersController($scope, $http) {
        console.log("Create user");
        $scope.createUser = function (username) {
          $http.post("http://localhost:8000/users", { username }).then(
            function successCallback(response) {
              console.log("response user", response);
              $scope.user = response;
            },
            function errorCallback(response) {
              console.log("Unable to perform gpostt request");
            }
          );
        };
        $scope.getAllUsers = function () {
          $http.get('http://localhost:8000/users').
            then(function (response) {
              $scope.users = response.data;
              console.log("response.data:", response.data);
              return response.data;
            });
        };

        $scope.getUserTodoList = function (userId) {
          $http.get('http://localhost:8000/users/' + userId + '/todos').
            then(function (response) {
              $scope.todos = response.data;
              console.log("response.data:", response.data);
              return response.data;
            });
        }

        $scope.createUserTodoList = function (userId, title) {
          $http.post("http://localhost:8000/users/" + userId + "/todos", { title }).then(
            function successCallback(response) {
              console.log("response todo list", response);
              $scope.todos = response;
            },
            function errorCallback(response) {
              console.log("Unable to perform gpostt request");
            }
          );
        };

        $scope.getTodoListItems = function (listId) {
          $http.get("http://localhost:8000/todos/" + listId + "/items").then(
            function successCallback(response) {
              console.log("response todo items", response);
              $scope.items = response.data;
            },
            function errorCallback(response) {
              console.log("Unable to perform gpostt request");
            }
          );
        };

        $scope.createTodoItem = function (listId, description) {
          $http.post("http://localhost:8000/todos/" + listId + "/items", { description }).then(
            function successCallback(response) {
              console.log("response todo item", response);
              $scope.items = response;
            },
            function errorCallback(response) {
              console.log("Unable to perform gpostt request");
            }
          );
        };

        $scope.update = function (index) {
          var item = $scope.items[index];
          $http.put("http://localhost:8000/todos/" + item.parentListId + "/items/" + item._id, item).then(
            function successCallback(response) {
              console.log("response todo item", response);
              //$scope.items = response.data;
            },
            function errorCallback(response) {
              console.log("Unable to perform gpostt request");
            }
          );
          $scope.editing[index] = false;
        }

        $scope.remove = function (index) {
          var item = $scope.items[index];
          $http.delete("http://localhost:8000/todos/" + item.parentListId + "/items/" + item._id, item).then(
            function successCallback(response) {
              console.log("response todo item", response);
              //$scope.items = response.data;
            },
            function errorCallback(response) {
              console.log("Unable to perform gpostt request");
            }
          );
          $scope.editing[index] = false;
        }
      }])

      //---------------
      // Routes
      //---------------

      .config(['$routeProvider', function ($routeProvider) {
        $routeProvider
          .when('/', {
            templateUrl: '/users.html',
            controller: 'UsersController'
          })
          .when('/todos/:userId', {
            templateUrl: '/todos.html',
            controller: 'TodoController'
          })

          .when('/todos/:listId', {
            templateUrl: '/todoDetails.html',
            controller: 'TodoDetailCtrl'
          });
      }]);
  </script>
</body>

</html>